* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The hero image */
.hero-image {
  background-image: url("../../assets/img/dreamstime_xxl_188649882.jpg");

  /* Set a specific height */
  height: 25vh;


  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;

  // Shadow
  box-shadow: -1px 15px 5px 0px rgba(13,12,12,0.63);
-webkit-box-shadow: -1px 15px 5px 0px rgba(13,12,12,0.63);
-moz-box-shadow: -1px 15px 5px 0px rgba(13,12,12,0.63);

}

.multicolored-border {
  position: relative;
  padding-bottom: 0%; /* Adjust as needed */

  /* Create the multicolored border using a linear gradient */
  background-image: linear-gradient(to right, rgba(0, 155, 178, 1) 50%, rgb(21, 179, 0) 50%);
  background-size: 100% 0%; /* Adjust the height of the border as needed */
  background-repeat: no-repeat;
}

/* Add a pseudo-element to create the actual border */
.multicolored-border::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Adjust the height of the border as needed */
  background: linear-gradient(to right, rgba(0, 155, 178, 1) 50%, rgb(21, 179, 0) 50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}



.text-guide-green {
  border-bottom: 1px solid;
  color: whitesmoke;
  border-radius: 10px;
  border-color: rgb(21, 179, 0);
}

.text-guide-blue {
  border-bottom: 1px solid;
  color: whitesmoke;
  border-radius: 10px;
  border-color: rgba(0, 155.4, 178.5);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0c0c0c;
}

.neon {
  text-shadow: 4px 2px 10px rgba(0, 155.4, 178.5), 4px 2px 30px rgba(0, 155.4, 178.5);
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 6vh;
}


.neonIcon-blue {
  box-shadow: 3px 2px 15px rgba(0, 155.4, 178.5);
  font-size: 4em;
  text-align: center;
  border-radius: 15px;

  padding: 4vw; // 6% of viewport width, making it responsive.

  //  hover effect step 1
  --s: 60px;
  /* the size of the image */
  --b: 8px;
  /* the border thickness*/
  --g: 0px;
  /* the gap */
  --c: #4ECDC4;
  /* the color */

  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid rgba(0, 0, 0, 0.122);
  outline-offset: calc(var(--s)/-5);
  cursor: pointer;
  transition: .3s;
}

.neonIcon-green {
  box-shadow: 3px 2px 15px rgb(21, 179, 0);
  font-size: 4em;
  text-align: center;
  border-radius: 15px;

  padding: 4vw; // 6% of viewport width, making it responsive.

  //  hover effect step 1
  --s: 60px;
  /* the size of the image */
  --b: 8px;
  /* the border thickness*/
  --g: 0px;
  /* the gap */
  --c: rgb(21, 179, 0);
  /* the color */

  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid rgba(0, 0, 0, 0.122);
  outline-offset: calc(var(--s)/-5);
  cursor: pointer;
  transition: .3s;
}

//  hover effect step 2
.neonIcon-blue:hover, .neonIcon-green:hover{
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}


.head {
  margin: 0 auto;
  position: relative;
  height: 100px;
  width: 200px;
  display: block;
  overflow: hidden;
  background-color: rgba(0, 222, 255, 0.3);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.stem {
  margin: 0 auto;
  height: 75px;
  width: 10px;
  background-color: rgba(0, 222, 255, 0.3);
  border-bottom: 2px solid rgb(0, 155.4, 178.5);
  border-radius: 0px 0px 5px 5px;
}

.base {
  margin: 0 auto;
  margin-top: -6px;
  width: 100px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(0, 222, 255, 0.3);
}

.head .liquid {
  position: absolute;
  top: -60px;
  left: 0;
  width: 200px;
  height: 220px;
  background-color: rgba(0, 255, 34, 0.37);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: 1s;
}

.head .liquid::after,
.head .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
  box-shadow: inset 0 0 6px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42), inset 0 0 12px rgba(30, 132, 242, 0.58),
    inset 0 0 22px rgba(30, 132, 242, 0.84),
    inset 0 0 38px rgba(147, 30, 242, 0.904), 0 0 60px rgba(30, 132, 242, 1);
}

.head .liquid::before {

  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.head .liquid::after {

  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

.head:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}